// ####################### PASSWORD INPUT #############################

// change the direction of the icon in rtl mode
html[lang="ar"] .p-password.p-component.p-inputwrapper.p-input-icon-right.w-full i{
    right: initial;
    left: 10px;
}

// NORMAL
@font-face {
    font-family: 'Rubik';
    src: url(./fonts/Rubik-VariableFont_wght.woff2) format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

// ITALIC
@font-face {
    font-family: 'Rubik';
    src: url(./fonts/Rubik-Italic-VariableFont_wght.woff2) format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}


html[lang="ar"] {

    body{
        font-family: 'Rubik', sans-serif;
    }
}


// RESTYLE IF THE LANGUAGE IS ARABIC
html[lang="ar"] {
    .layout-menu ul a .layout-menuitem-icon {
        margin-right: 0;
        margin-left: 0.5rem;
    }
}

// RESTYLE THE TABLE VIEW
html[lang="ar"] .p-datatable .p-column-header-content{
    gap: 5px;
}
html[lang="ar"] .p-datatable .p-sortable-column .p-column-title {
    text-align: right;
    margin-left: auto; /* Default to auto */
}

html[lang="ar"] .p-column-filter-menu {
    margin-left: initial;
}

html[lang="ar"] .p-datatable .p-datatable-tbody > tr > td {
    text-align: right ;
}

html[lang="ar"] .p-datatable .p-paginator-bottom {
    direction: ltr;
}

// DROP DOWN
html[lang="ar"] .p-dropdown-item {
    text-align: right;
}

html[lang="ar"] .p-dropdown .p-dropdown-clear-icon {
    right: initial;
    left: 3rem;
}

.p-datatable-table,
.p-inputtext{
    font-family: 'Rubik', sans-serif;
}



// html[lang="ar"] .p-fluid .p-calendar{
//     flex-direction: row-reverse;
// }

html[lang="ar"] .p-calendar-w-btn-right .p-datepicker-trigger{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
html[lang="ar"] .p-calendar-w-btn-right .p-inputtext,
html[lang="ar"] .p-inputnumber-buttons-stacked .p-inputnumber-input  {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

html[lang="ar"] .p-inputnumber-buttons-stacked .p-button.p-inputnumber-button-up{
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
html[lang="ar"] .p-inputnumber-buttons-stacked .p-button.p-inputnumber-button-down {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 6px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

html[lang="ar"] .custom-file-upload button.p-button.p-component.p-button-outlined.p-button-rounded.p-button-danger.ml-auto.p-button-icon-only {
    margin-left: 0 !important;
    margin-right:auto;
}

html[lang="ar"] .custom-progressbar-container {
    margin-left: 0 !important;
    margin-right:auto;
}

html[lang="ar"] .p-button .p-button-icon-left{
    margin-left: 0.5rem !important;
    margin-right: 0 !important;
}


html[lang="ar"] .layout-topbar {
    direction: rtl;

    .layout-menu-button{
        margin-left: initial !important;
        margin-right: auto;
    }
}
